/*************************************************/
/* PRÉSENTATION
/*************************************************/

.presentation {
    display: flex;
    flex-direction: row;
    min-height: 500px;
    margin-top: 6rem;
    gap: 4rem;

    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }

    .presentation_description {
        gap: 2rem;
        
        p {
            text-align: left;
            font-size: 1.5rem;
        }

        .presentation_description-contact {
            a {
                margin-right: 1rem;

                img {
                    height: 4rem;
                }
            }
        }
    }

    .presentation_image {
        height: 100%;
        border: solid 1.5rem var(--color-bg-dark-secondary);
        background-image: url("/assets/img/presentation.png");
        background-position: center;
        background-size: cover;
        background-clip: content-box;
        background-repeat: no-repeat;
        box-shadow: 0 0 30px 0 var(--color-shadow-primary);
    }
}

/*************************************************/
/* COMPETENCES
/*************************************************/

.competences {
    margin-top: 6rem;
    border: solid 1px var(--color-bg-separator);
    border-radius: 10px;
    
    .competences_title {
        padding: 1rem 2rem;
        background-color: var(--color-bg-dark-secondary);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .competences_details{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 1rem 2rem;
        border-top: solid 1px var(--color-bg-separator);

        .competences_details-item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            color: var(--color-font-light);
            font-size: 1.2rem;

            img {
                height: 2.5rem;
            }
        }
    }
}


