/*************************************************/
/* FONTS
/*************************************************/

@font-face {
    font-family: "Poppins-Thin";
    src: url(/assets/fonts/Poppins-Thin.ttf);
}
@font-face {
    font-family: "Poppins-ExtraLight";
    src: url(/assets/fonts/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: "Poppins-Light";
    src: url(/assets/fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(/assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-Medium";
    src: url(/assets/fonts/Poppins-Medium.ttf);
}