/*************************************************/
/* BANDEAU HEADER
/*************************************************/

.bandeau {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
    font-family: var(--font-family-code);
}

/* LOGO ******************************************/

.bandeau_title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 1.3rem;

    .balise {
        color: var(--color-font-balise);
        margin-right: 10px;
    }

    .class {
        color: var(--color-font-class)
    }

    .value {
        color: var(--color-font-value)
    }

    img {
        height: 2.8rem;
        margin-right: 0.8rem;
    }
}

/* NAVIGATION  & BACK BUTTON *********************/

.bandeau_nav {
    display: flex;

    .bandeau_nav-back {
        display: none;
        justify-content: space-between;
        align-items: center;
        min-height: 5rem;

        .bandeau_nav-back-button, .bandeau_nav-back-logo {
            height: 2.5rem;
            
            img {
                height: 100%;
            }
        }

    }

    .bandeau_nav-menu {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 0;

        >li {
            display: flex;
            align-items: center;

            a {
                font-size: 1.3rem;
                color: var(--color-font-light);
                transition: all 0.5s;

                &:hover {
                    color: var(--color-font-balise);

                    >span {
                        opacity: 1;
                    }
                }

                >span {
                    opacity: 0;
                    color: var(--color-font-light);
                    transition: all 0.5s;
                }
            }
        }

        @media screen and (max-width: 1050px) {
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            gap: 1rem;
            padding-top: 2rem;
    
            >li {
                padding-top: 1rem;
                
                &:not(:last-child)::after {
                    display: none;
                }

                >a {
                    font-size: 1.8rem;
                }
            }
        }
    }

    @media screen and (max-width: 1050px) {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        background-color: var(--color-bg-dark-primary);

        .bandeau_nav-back {
            display: flex;
        }

        .bandeau_nav-menu {
            border-top: solid 1px var(--color-bg-separator);
        }
    }
}

/* BURGER BUTTON *********************************/

.bandeau_burger {
    display: none;
    height: 2.5rem;

    img {
        height: 100%;
    }

    @media screen and (max-width: 1050px) {
        display: block;
    }   
}

/*************************************************/
/* FOOTER
/*************************************************/

.footer_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    img {
        height: 3rem;
    }
}
