@import url("./variables.css");
@import url("./fonts.css");

/*************************************************/
/* LAYOUT (STYLE GLOBAL)
/*************************************************/

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: var(--font-family-base);
    color: var(--color-font-light);
    background-color: var(--color-bg-dark-primary);
}

header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--color-bg-bandeau);
    border-bottom: solid 1px var(--color-bg-separator);
    font-family: var(--font-family-base);
}

/* main {
    background-color: var(--color-bg-dark-primary);
} */

footer {
    margin-top: 4rem;
    padding: 1.5rem;
    background-color: var(--color-bg-dark-secondary);
    border-top: solid 1px var(--color-bg-separator);
    font-family: var(--font-family-base);
    font-size: 1.2rem;
}

/*************************************************/
/* NORMALISATION
/*************************************************/

* {
    box-sizing: border-box;
    margin: 0; 
}

a {
    color: var(--color-font-link);
    text-decoration: none;
    outline: none;
}

h1 {
    text-align: left;
    font-family: var(--font-family-title);
    font-size: 3rem;
    color: var(--color-font-title-primary);
}

h2 {
    text-align: left;
    font-family: var(--font-family-code);
    font-size: 2.2rem;
    color: var(--color-font-balise);

    span {
        color: var(--color-font-light);
    }
}

h3 {
    display: inline-block;
    min-width: 180px;
    text-align: left;
    font-family: var(--font-family-code);
    font-weight: lighter;
    font-size: 1.6rem;
    color: var(--color-font-light);
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

/*************************************************/
/* COMMON
/*************************************************/

.container {
    width: 90vw;
    margin: 0 auto;
}

/*************************************************/
/* COMMON
/*************************************************/

/* .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 0 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-bg-button);
    color: var(--color-font-light);
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color var(--transition-primary);

    &:hover {
        background-color: var(--color-hover-primary);
        color: var(--color-font-light);
    }
}

.link {
    color: var(--color-font-dark);
    transition: color var(--transition-primary);

    &:hover {
        color: var(--color-hover-primary);
    }

    &:focus-visible {
        outline: 2px solid var(--color-hover-primary);
    }
} */



