@import url("../params/fonts.css");
@import url("../params/variables.css");

/*************************************************/
/* STRUCTURE (STYLE GLOBAL)
/*************************************************/

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: var(--font-family-base);
    color: var(--color-font-dark);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--color-bg-bandeau-secondary);
    box-shadow: 0 2px 10px var(--color-shadow-primary);
}

main {
    background-color: var(--color-bg-light-primary);
}

footer {
    background-color: var(--color-bg-dark-tertiary);
}

/*************************************************/
/* COMMON
/*************************************************/

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 0 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-bg-button);
    color: var(--color-font-light);
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color var(--transition-primary);

    &:hover {
        background-color: var(--color-hover-primary);
        color: var(--color-font-light);
    }
}

.link {
    color: var(--color-font-dark);
    transition: color var(--transition-primary);

    &:hover {
        color: var(--color-hover-primary);
    }

    &:focus-visible {
        outline: 2px solid var(--color-hover-primary);
    }
}

.container {
    width: 1280px;
    margin: 0 auto;
}
