/*************************************************/
/* BANDEAU HEADER
/*************************************************/

.bandeau {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: var(--color-font-bright); */
    
}

/* LOGO ******************************************/

.bandeau_logo {
    /* display: flex;
    align-items: center; */
    font-size: 1.8rem;
    font-family: var(--font-family-logo);
    color: var(--color-font-light);

    img {
        height: 2.5rem;
        margin-right: 0.8rem;
        /* border: 2px solid white;
        background-color: var(--color-bg-logo);
        border-radius: 8px; */
    }

    span {
        color: var(--color-font-medium);
    }
}

/* NAVIGATION  & BACK BUTTON *********************/

.bandeau_nav {
    display: flex;

    .bandeau_nav-back {
        display: none;
        justify-content: space-between;
        padding: 1rem;
        height: 4.5rem;

        img {
            height: 100%;
        }

        div {
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            font-family: var(--font-family-logo);
            color: var(--color-font-light);

            img {
                height: 2.5rem;
                margin-right: 0.8rem;
                border: 2px solid white;
                background-color: var(--color-bg-logo);
                border-radius: 8px;
            }

            span {
                color: var(--color-font-logo);
            }
        }
    }

    .bandeau_nav-menu {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;

        >li {
            display: flex;
            align-items: center;

            &:not(:last-child)::after {
                content: "";
                display: inline-block;
                width: 6px;
                height: 6px;
                background-color: var(--color-font-light);
                border-radius: 50%;
                margin: 0 20px;
            }

            a {
                font-size: 1.2rem;
                color: var(--color-font-light);
                transition: all 0.3s;

                &:hover {
                    color: var(--color-hover-primary);
                }

                &::after {
                    content: "";
                    display: block;
                    width: 0;
                    height: 2px;
                    margin: 0 auto;
                    background-color: var(--color-hover-primary);
                    transition: 0.3s ease-in-out;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            gap: 1rem;
            padding-top: 2rem;
    
            >li {
                padding-top: 1rem;
                
                &:not(:last-child)::after {
                    display: none;
                }

                >a {
                    font-size: 1.8rem;

                    &::after {
                        display: none;
                    }                    
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        background-color: var(--color-bg-dark-primary);

        .bandeau_nav-back {
            display: flex;
        }

        .bandeau_nav-menu {
            border-top: solid 2px var(--color-bg-dark-primary);
        }
    }
}

/* BURGER BUTTON *********************************/

.bandeau_burger {
    display: none;
    height: 2.5rem;

    img {
        height: 100%;
    }

    @media screen and (max-width: 768px) {
        display: block;
    }   
}



























/* BANDEAU : LOGO & TITRE */

.bandeau_logo {
    display: flex;
    align-items: center;

    img {
        height: 6rem;
        padding: 1rem 0;
        background-color: var(--color-bg-bandeau-primary);
    }    

    .bandeau_logo-separator {
        border-left: 2rem solid var(--color-bg-bandeau-primary);
        border-bottom:  6rem solid transparent;
    }

    .bandeau_logo-title {
        font-size: 2rem;
        font-family: var(--font-family-title);
        color: var(--color-font-bandeau-title-primary);
        transition: color var(--transition-primary);

        span {
            transition: color var(--transition-primary);
            color: var(--color-font-bandeau-title-secondary);
        }      
    }

    img:hover, .bandeau_logo-separator:hover, .bandeau_logo-title:hover {
        &, ~.bandeau_logo-title {
            color: var(--color-hover-primary);

            span {
                color: var(--color-hover-primary);
            }
        }
    }

    &:focus-visible {
        .bandeau_logo-title {
            outline: 2px solid var(--color-hover-primary);
        }
    }
} 

/* BANDEAU : MENU */

.bandeau_menu {
    display: flex;
    gap: 2.5rem;
    height: 100%;
    padding-left: 0;

    >li {
        display: flex;
        align-items: center;

        .bandeau_menu-link, .bandeau_menu-libelle, .bandeau_menu-libelle::after {
            font-size: 1.2rem;
            font-weight: 500;
            color: var(--color-font-menu-primary);
            text-wrap: nowrap;
            transition: color var(--transition-primary), transform var(--transition-primary);
        }

        .bandeau_menu-libelle {
            display: flex;
            align-items: center;
            cursor: default;

            &::after  {
                content: "";
                border-left: 0.45rem solid var(--color-font-menu-primary);
                border-top:  0.35rem solid transparent;
                border-bottom:  0.35rem solid transparent;
                margin-left: 0.5rem;
                margin-top: 0.18rem;
            }
        }

        .bandeau_menu-link:hover {
            color: var(--color-hover-primary);
        }

        .bandeau_menu-link:focus-visible {
            outline: 2px solid var(--color-hover-primary);
        }

        .menu-back {
            margin-right: 0.5rem;
            font-family: "Poppins-Medium", Verdana, sans-serif;
            font-size: 0.7rem;
        }
    }

    >li:has(.bandeau_menu-libelle) {
        &:hover, &:has(a:focus) {
            .bandeau_menu-libelle {
                /* color: var(--color-hover-primary); */
            }

            .bandeau_menu-libelle::after {
                transform: rotate(90deg);
                /* border-left-color: var(--color-hover-primary); */
            }
        }
    }
}





/*************************************************/
/* BANDEAU FOOTER
/*************************************************/

.footer_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;

    img {
        width: 4rem;
        margin-bottom: 1rem;
    }

    span {
        color: var(--color-font-light)
    }
}