/*************************************************/
/* BANDEAU HEADER
/*************************************************/

.bandeau {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    font-family: var(--font-family-code);
}

/* LOGO ******************************************/

.bandeau_logo {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-family: var(--font-family-code);

    .balise {
        color: var(--color-font-balise);
        margin-right: 10px;
    }

    .class {
        color: var(--color-font-class)
    }

    .value {
        color: var(--color-font-value)
    }

    img {
        height: 2.8rem;
        margin-right: 0.8rem;
    }
}

/* NAVIGATION  & BACK BUTTON *********************/

.bandeau_nav {
    display: flex;

    .bandeau_nav-back {
        display: none;
        justify-content: space-between;
        padding: 1rem;
        height: 4.5rem;

        img {
            height: 100%;
        }
    }

    .bandeau_nav-menu {
        display: flex;
        flex-wrap: nowrap;
        padding-left: 0;

        >li {
            display: flex;
            align-items: center;

            /* &:not(:last-child) {
                margin-right: 10px;
            } */

            /* &:not(:last-child)::after {
                content: "";
                display: inline-block;
                width: 3px;
                height: 3px;
                background-color: var(--color-font-light);
                border-radius: 50%;
                margin: 0 20px;
            } */

            a {
                font-size: 1.2rem;
                color: var(--color-font-light);
                transition: all 0.5s;

                &:hover {
                    color: var(--color-font-balise);

                    >span {
                        opacity: 1;
                    }
                }

                >span {
                    opacity: 0;
                    color: var(--color-font-light);
                    transition: all 0.5s;
                }
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            gap: 1rem;
            padding-top: 2rem;
    
            >li {
                padding-top: 1rem;
                
                &:not(:last-child)::after {
                    display: none;
                }

                >a {
                    font-size: 1.8rem;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        background-color: var(--color-bg-dark-primary);

        .bandeau_nav-back {
            display: flex;
        }

        .bandeau_nav-menu {
            border-top: solid 1px var(--color-bg-separator);
        }
    }
}

/* BURGER BUTTON *********************************/

.bandeau_burger {
    display: none;
    height: 2.5rem;

    img {
        height: 100%;
    }

    @media screen and (max-width: 768px) {
        display: block;
    }   
}
