@import url("./variables.css");
@import url("./fonts.css");

/*************************************************/
/* LAYOUT (STYLE GLOBAL)
/*************************************************/

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: var(--font-family-base);
    color: var(--color-font-light);
}

header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--color-bg-bandeau);
    border-bottom: solid 1px var(--color-bg-separator);
    font-family: var(--font-family-base);
}

main {
    background-color: var(--color-bg-dark-primary);
}

/*************************************************/
/* NORMALISATION
/*************************************************/

* {
    box-sizing: border-box;
    margin: 0; 
}

a {
    color: var(--color-font-link);
    text-decoration: none;
    outline: none;
}

h1, h2 {
    text-align: left;
    font-family: var(--font-family-title);
}

h1 {
    font-size: 3rem;
    color: var(--color-font-title-primary);
}

/* h2 {
    font-size: 2.5rem;
    color: var(--color-font-title-secondary);
} */

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

/*************************************************/
/* COMMON
/*************************************************/

.container {
    width: 90vw;
    margin: 0 auto;
}



















footer {
    background-color: var(--color-bg-dark-tertiary);
}

/*************************************************/
/* COMMON
/*************************************************/

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 0 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-bg-button);
    color: var(--color-font-light);
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color var(--transition-primary);

    &:hover {
        background-color: var(--color-hover-primary);
        color: var(--color-font-light);
    }
}

.link {
    color: var(--color-font-dark);
    transition: color var(--transition-primary);

    &:hover {
        color: var(--color-hover-primary);
    }

    &:focus-visible {
        outline: 2px solid var(--color-hover-primary);
    }
}



