/*************************************************/
/* VARIABLES
/*************************************************/

:root {
    /* BACKGROUND COLOR */
    --color-bg-dark-primary: #151B23;
    --color-bg-dark-secondary: #0D1117;
    --color-bg-separator: #3D444D;

    /* FONT COLOR */
    --color-font-light: #F0F6FC;
    --color-font-title-primary: #acbbc9;
    /* --color-font-medium: #a2b7cf;     */
    --color-font-link: #abc1da; 
    --color-font-balise: #86e28e;
    --color-font-class: #6bb6f8;
    --color-font-value: #9bcffa;

    /* BANDEAU & MENU */
    --color-bg-bandeau: var(--color-bg-dark-secondary);

    /* LIENS, HOVER, FOCUS... */
    /* --color-hover-primary: #577AA0; */

    /* SHADOW COLOR */
    --color-shadow-primary: #505863;
    /* --color-shadow-secondary: #96a1ac; */
    
    /* FONT FAMILY */
    --font-family-base: 'Poppins-Regular', Verdana, sans-serif;
    --font-family-title: cursive, Verdana, sans-serif;
    --font-family-code: consolas, Verdana, sans-serif;










    




    /* --color-bg-light-primary: #fdfdfd;
    --color-bg-light-secondary: #edeef1;

    --color-bg-dark-tertiary: #425046;
    --color-bg-button: #4e865e;
    
    --color-bg-note: #FDD663;

    --color-font-dark: #38414d;
    --color-font-title-primary: #56606b;
    --color-font-title-primary-bis: #4e8f60;
    --color-font-title-secondary: #748292;
    --color-font-title-tertiary: #f5cb7e;
    --color-font-link-primary: #b37d19;

    --color-hover-secondary: #f0ba57;
    --color-hover-arrows: #a0a0a0;
    --color-input-border: #b7c1cf;
    --color-input-shadow: #929fb1;
    --color-div-border-primary: #c3cddb;


    --color-bg-bandeau-secondary: var(--color-bg-light-primary);
    --color-bg-bandeau-submenu: var(--color-bg-dark-primary);
    --color-font-bandeau-title-primary: var(--color-font-title-primary);
    --color-font-bandeau-title-secondary: #4e8f60;
    --color-font-menu-primary: var(--color-font-dark);
    --color-font-submenu: #bdc8d4;
    --color-font-submenu-title: #bdc8d4;
    
    --font-family-etoile: 'jua', Verdana, sans-serif;

    --transition-primary: 0.3s ease-in-out;
    --transition-secondary: 0.5s ease-in-out; */


}